@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@100;400;700&display=swap");

/* paleta de colores #FC7300 , #1F8A70 , #00425A , #181823, #EFF5F5 */

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #181823;
  color: #eff5f5;
}

header {
  background-color: #00425a;
  padding: 0.5em;
}

.logo-untref {
  text-shadow: #181823 1px 1px 5px;
  font-weight: bold;
  color: #1f8a70;
  text-decoration: overline;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  margin-left: 0.75em;
  border-radius: 10px;
  padding: 0.2em;
  box-shadow: 0px 3px 5px #181823;
  color: #eff5f5;
  text-shadow: #181823 1px 1px 2px;
}

a:hover {
  color: #fc7300;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
}

h1 {
  color: #fc7300;
  text-align: center;
  text-shadow: #181823 1px 10px 5px;
  font-family: "Belanosima", sans-serif;
}

.formulario {
  max-width: 100%;
  background: #00425a;
  width: 80vw;
  padding: 1em;
  box-shadow: 0px 0px 5px #1f8a70;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

input,
select,
textarea {
  padding: 0.2em;
  margin: 1em;
  box-sizing: border-box;
  border-radius: 8px;
  border: solid #1f8a70 2px;
}

button,
select {
  cursor: pointer;
}

button {
  background-color: #1f8a70;
  padding: 0.3em;
  margin: 1em;
  box-sizing: border-box;
  border-radius: 8px;
  border: solid #1f8a70 2px;
  width: 20vw;
  font-size: medium;
  align-self: center;
}

button:hover {
  background-color: #fc7300;
  color: #eff5f5;
  transition: all 200ms linear;
}

h3 {
  color: #fc7300;
  text-shadow: #181823 1px 2px 1px;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #1f8a70;
  text-shadow: #181823 1px 2px 1px;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #00425a;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

.redes-sociales,
.mapa,
.contacto {
  flex-basis: 0;
  flex-grow: 1;
}

.redes-sociales li,
.contacto li {
  padding-bottom: 1em;
  text-align: justify;
  margin-left: 6em;
}

.copy {
  background-color: #181823;
  color: #1f8a70;
  margin: 0;
  text-align: center;
  font-size: small;
}

@media (min-width: 768px) {
  input,
  select,
  textarea {
    font-size: medium;
  }

  .formulario {
    width: 50vw;
  }

  .footer {
    flex-direction: row;
  }

  .redes-sociales li,
  .contacto li {
    margin-left: 4em;
  }
}

@media (min-width: 1024px) {
  form {
    margin-left: 2em;
    margin-right: 2em;
  }

  .redes-sociales li,
  .contacto li {
    margin-left: 6em;
  }
}
